In [1]:
import pandas as pd

In [21]:
df = pd.read_csv('Air_Traffic_Passenger_Statistics.csv')

In [22]:
df

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count
0,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271
1,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131
2,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415
3,200507,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156
4,200507,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090
5,200507,Air China,CA,Air China,CA,International,Asia,Deplaned,Other,International,G,6263
6,200507,Air China,CA,Air China,CA,International,Asia,Enplaned,Other,International,G,5500
7,200507,Air France,AF,Air France,AF,International,Europe,Deplaned,Other,International,A,12050
8,200507,Air France,AF,Air France,AF,International,Europe,Enplaned,Other,International,A,11638
9,200507,Air New Zealand,NZ,Air New Zealand,NZ,International,Australia / Oceania,Deplaned,Other,International,G,4998
10,200507,Air New Zealand,NZ,Air New Zealand,NZ,International,Australia / Oceania,Enplaned,Other,International,G,4962
11,200507,AirTran Airways,FL,AirTran Airways,FL,Domestic,US,Deplaned,Low Fare,International,A,8055
12,200507,AirTran Airways,FL,AirTran Airways,FL,Domestic,US,Enplaned,Low Fare,International,A,7984
13,200507,Alaska Airlines,AS,Alaska Airlines,AS,Domestic,US,Deplaned,Other,International,A,36641
14,200507,Alaska Airlines,AS,Alaska Airlines,AS,Domestic,US,Enplaned,Other,International,A,39379
15,200507,Alaska Airlines,AS,Alaska Airlines,AS,Domestic,US,Thru / Transit,Other,International,A,3678
16,200507,Alaska Airlines,AS,Alaska Airlines,AS,International,Canada,Deplaned,Other,International,A,7977
17,200507,Alaska Airlines,AS,Alaska Airlines,AS,International,Canada,Enplaned,Other,International,A,8837
18,200507,Alaska Airlines,AS,Alaska Airlines,AS,International,Mexico,Deplaned,Other,International,A,6969
19,200507,Alaska Airlines,AS,Alaska Airlines,AS,International,Mexico,Enplaned,Other,International,A,10046
20,200507,Alaska Airlines,AS,Alaska Airlines,AS,International,Mexico,Thru / Transit,Other,International,A,2266
21,200507,All Nippon Airways,NH,All Nippon Airways,NH,International,Asia,Deplaned,Other,International,G,6545
22,200507,All Nippon Airways,NH,All Nippon Airways,NH,International,Asia,Enplaned,Other,International,G,6094
23,200507,American Airlines,AA,American Airlines,AA,Domestic,US,Deplaned,Other,Terminal 3,E,166577
24,200507,American Airlines,AA,American Airlines,AA,Domestic,US,Enplaned,Other,Terminal 3,E,160890
25,200507,American Eagle Airlines,MQ,American Airlines,AA,Domestic,US,Deplaned,Other,Terminal 3,E,5493
26,200507,American Eagle Airlines,MQ,American Airlines,AA,Domestic,US,Enplaned,Other,Terminal 3,E,5213
27,200507,Asiana Airlines,OZ,Asiana Airlines,OZ,International,Asia,Deplaned,Other,International,A,5041
28,200507,Asiana Airlines,OZ,Asiana Airlines,OZ,International,Asia,Enplaned,Other,International,A,4744
29,200507,Atlantic Southeast Airlines,EV,Delta Air Lines,DL,Domestic,US,Deplaned,Other,Terminal 1,C,1552
...,...,...,...,...,...,...,...,...,...,...,...,...
17929,201712,United Airlines,UA,United Airlines,UA,Domestic,US,Enplaned,Other,Terminal 3,F,430593
17930,201712,United Airlines,UA,United Airlines,UA,Domestic,US,Thru / Transit,Other,Terminal 3,F,34
17931,201712,United Airlines,UA,United Airlines,UA,International,Asia,Deplaned,Other,International,G,68533
17932,201712,United Airlines,UA,United Airlines,UA,International,Asia,Enplaned,Other,International,G,79890
17933,201712,United Airlines,UA,United Airlines,UA,International,Australia / Oceania,Deplaned,Other,International,G,16576
17934,201712,United Airlines,UA,United Airlines,UA,International,Australia / Oceania,Enplaned,Other,International,G,15737
17935,201712,United Airlines,UA,United Airlines,UA,International,Canada,Deplaned,Other,International,G,426
17936,201712,United Airlines,UA,United Airlines,UA,International,Canada,Enplaned,Other,International,G,775
17937,201712,United Airlines,UA,United Airlines,UA,International,Canada,Deplaned,Other,Terminal 3,E,6462
17938,201712,United Airlines,UA,United Airlines,UA,International,Canada,Enplaned,Other,Terminal 3,E,4471
17939,201712,United Airlines,UA,United Airlines,UA,International,Canada,Deplaned,Other,Terminal 3,F,4957
17940,201712,United Airlines,UA,United Airlines,UA,International,Canada,Enplaned,Other,Terminal 3,F,7413
17941,201712,United Airlines,UA,United Airlines,UA,International,Europe,Deplaned,Other,International,G,21144
17942,201712,United Airlines,UA,United Airlines,UA,International,Europe,Enplaned,Other,International,G,23230
17943,201712,United Airlines,UA,United Airlines,UA,International,Mexico,Deplaned,Other,International,G,33251
17944,201712,United Airlines,UA,United Airlines,UA,International,Mexico,Enplaned,Other,International,G,9718
17945,201712,United Airlines,UA,United Airlines,UA,International,Mexico,Enplaned,Other,Terminal 3,E,3486
17946,201712,United Airlines,UA,United Airlines,UA,International,Mexico,Enplaned,Other,Terminal 3,F,25241
17947,201712,United Airlines,UA,United Airlines,UA,International,Middle East,Deplaned,Other,International,G,5525
17948,201712,United Airlines,UA,United Airlines,UA,International,Middle East,Enplaned,Other,International,G,5876
17949,201712,Virgin America,VX,Virgin America,VX,Domestic,US,Deplaned,Low Fare,Terminal 2,D,224879
17950,201712,Virgin America,VX,Virgin America,VX,Domestic,US,Enplaned,Low Fare,Terminal 2,D,238226
17951,201712,Virgin America,VX,Virgin America,VX,International,Mexico,Deplaned,Low Fare,International,A,8525
17952,201712,Virgin America,VX,Virgin America,VX,International,Mexico,Enplaned,Low Fare,Terminal 2,D,9846
17953,201712,Virgin Atlantic,VS,Virgin Atlantic,VS,International,Europe,Deplaned,Other,International,A,9600
17954,201712,Virgin Atlantic,VS,Virgin Atlantic,VS,International,Europe,Enplaned,Other,International,A,11512
17955,201712,Volaris Airlines,Y4,Volaris Airlines,Y4,International,Mexico,Deplaned,Low Fare,International,A,3221
17956,201712,Volaris Airlines,Y4,Volaris Airlines,Y4,International,Mexico,Enplaned,Low Fare,International,A,5415
17957,201712,WOW Air,WW,WOW Air,WW,International,Europe,Enplaned,Other,International,A,3800
17958,201712,WOW Air,WW,WOW Air,WW,International,Europe,Deplaned,Other,International,G,3113

In [23]:
df = df.drop(['Operating Airline','Operating Airline IATA Code'],axis=1)
df = df.rename(columns={'Activity Period':'date',
                   'Published Airline':'pub_airlines','Published Airline IATA Code':'pub_code',
                   'GEO Summary':'geo_summ', 'GEO Region': 'geo_region', 'Activity Type Code':'type',
                   'Price Category Code':'price', 'Terminal': 'terminal', 'Boarding Area': 'boarding_area',
                   'Passenger Count': 'pax_count'
                  })

In [24]:
df.head()

,date,pub_airlines,pub_code,geo_summ,geo_region,type,price,terminal,boarding_area,pax_count
0,200507,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271
1,200507,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131
2,200507,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415
3,200507,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156
4,200507,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090

In [25]:
df['pub_airlines'].unique()

array(['ATA Airlines', 'Air Canada', 'Air China', 'Air France',
       'Air New Zealand', 'AirTran Airways', 'Alaska Airlines',
       'All Nippon Airways', 'American Airlines', 'Asiana Airlines',
       'Delta Air Lines', 'BelAir Airlines', 'British Airways',
       'Cathay Pacific', 'China Airlines', 'EVA Airways',
       'Frontier Airlines', 'Hawaiian Airlines', 'Icelandair',
       'Independence Air', 'Japan Airlines', 'KLM Royal Dutch Airlines',
       'Korean Air Lines', 'Lufthansa German Airlines', 'US Airways',
       'Mexicana Airlines', 'Midwest Airlines', 'Northwest Airlines',
       'Philippine Airlines', 'Singapore Airlines',
       'United Airlines - Pre 07/01/2013', 'Sun Country Airlines', 'TACA',
       'United Airlines', 'Virgin Atlantic', 'WestJet Airlines',
       'Boeing Company', 'Ameriflight', 'Miami Air International',
       'Qantas Airways', 'Spirit Airlines', 'Xtra Airways',
       'Evergreen International Airlines', 'Aeromexico',
       'JetBlue Airways', 'Southwest Airlines', 'Virgin America',
       'Aer Lingus', 'Allegiant Air', 'Jet Airways', 'Emirates ',
       'Servisair', 'World Airways', 'Air Berlin', 'Republic Airlines',
       'Pacific Aviation', 'Swiss International', 'LAN Peru',
       'Swissport USA', 'XL Airways France', 'China Eastern',
       'SAS Airlines', 'Atlas Air, Inc', 'Etihad Airways',
       'China Southern', 'Turkish Airlines', 'COPA Airlines, Inc.',
       'Air India Limited', 'Air Pacific Limited dba Fiji Airways',
       'WOW Air', 'Volaris Airlines', 'Thomas Cook Airlines',
       'Trego Dugan Aviation', 'Finnair'], dtype=object)

In [27]:
temp = df['pub_airlines'].replace('United Airlines - Pre 07/01/2013','United Airlines')
temp.unique()

array(['ATA Airlines', 'Air Canada', 'Air China', 'Air France',
       'Air New Zealand', 'AirTran Airways', 'Alaska Airlines',
       'All Nippon Airways', 'American Airlines', 'Asiana Airlines',
       'Delta Air Lines', 'BelAir Airlines', 'British Airways',
       'Cathay Pacific', 'China Airlines', 'EVA Airways',
       'Frontier Airlines', 'Hawaiian Airlines', 'Icelandair',
       'Independence Air', 'Japan Airlines', 'KLM Royal Dutch Airlines',
       'Korean Air Lines', 'Lufthansa German Airlines', 'US Airways',
       'Mexicana Airlines', 'Midwest Airlines', 'Northwest Airlines',
       'Philippine Airlines', 'Singapore Airlines', 'United Airlines',
       'Sun Country Airlines', 'TACA', 'Virgin Atlantic',
       'WestJet Airlines', 'Boeing Company', 'Ameriflight',
       'Miami Air International', 'Qantas Airways', 'Spirit Airlines',
       'Xtra Airways', 'Evergreen International Airlines', 'Aeromexico',
       'JetBlue Airways', 'Southwest Airlines', 'Virgin America',
       'Aer Lingus', 'Allegiant Air', 'Jet Airways', 'Emirates ',
       'Servisair', 'World Airways', 'Air Berlin', 'Republic Airlines',
       'Pacific Aviation', 'Swiss International', 'LAN Peru',
       'Swissport USA', 'XL Airways France', 'China Eastern',
       'SAS Airlines', 'Atlas Air, Inc', 'Etihad Airways',
       'China Southern', 'Turkish Airlines', 'COPA Airlines, Inc.',
       'Air India Limited', 'Air Pacific Limited dba Fiji Airways',
       'WOW Air', 'Volaris Airlines', 'Thomas Cook Airlines',
       'Trego Dugan Aviation', 'Finnair'], dtype=object)

In [28]:
df['pub_airlines'] = df['pub_airlines'].replace('United Airlines - Pre 07/01/2013','United Airlines')
df['pub_airlines'] = df['pub_airlines'].replace('Emirates ','Emirates')
df['price'] = df['price'].replace('Other', 'Full Service')

In [30]:
df['pub_airlines'].unique()

array(['ATA Airlines', 'Air Canada', 'Air China', 'Air France',
       'Air New Zealand', 'AirTran Airways', 'Alaska Airlines',
       'All Nippon Airways', 'American Airlines', 'Asiana Airlines',
       'Delta Air Lines', 'BelAir Airlines', 'British Airways',
       'Cathay Pacific', 'China Airlines', 'EVA Airways',
       'Frontier Airlines', 'Hawaiian Airlines', 'Icelandair',
       'Independence Air', 'Japan Airlines', 'KLM Royal Dutch Airlines',
       'Korean Air Lines', 'Lufthansa German Airlines', 'US Airways',
       'Mexicana Airlines', 'Midwest Airlines', 'Northwest Airlines',
       'Philippine Airlines', 'Singapore Airlines', 'United Airlines',
       'Sun Country Airlines', 'TACA', 'Virgin Atlantic',
       'WestJet Airlines', 'Boeing Company', 'Ameriflight',
       'Miami Air International', 'Qantas Airways', 'Spirit Airlines',
       'Xtra Airways', 'Evergreen International Airlines', 'Aeromexico',
       'JetBlue Airways', 'Southwest Airlines', 'Virgin America',
       'Aer Lingus', 'Allegiant Air', 'Jet Airways', 'Emirates',
       'Servisair', 'World Airways', 'Air Berlin', 'Republic Airlines',
       'Pacific Aviation', 'Swiss International', 'LAN Peru',
       'Swissport USA', 'XL Airways France', 'China Eastern',
       'SAS Airlines', 'Atlas Air, Inc', 'Etihad Airways',
       'China Southern', 'Turkish Airlines', 'COPA Airlines, Inc.',
       'Air India Limited', 'Air Pacific Limited dba Fiji Airways',
       'WOW Air', 'Volaris Airlines', 'Thomas Cook Airlines',
       'Trego Dugan Aviation', 'Finnair'], dtype=object)

In [36]:
df.loc[(df.pub_airlines=='Air China')& (df.price!='Full Service')]

,date,pub_airlines,pub_code,geo_summ,geo_region,type,price,terminal,boarding_area,pax_count
11015,201306,Air China,CA,International,Asia,Enplaned,Low Fare,International,G,7678

In [39]:
df.loc[df.pub_airlines=='Air China', 'price'] = 'Full Service'

In [40]:
df.loc[(df.pub_airlines=='Air China')& (df.price!='Full Service')]

Empty DataFrame
Columns: [date, pub_airlines, pub_code, geo_summ, geo_region, type, price, terminal, boarding_area, pax_count]
Index: []

In [41]:
full_airlines = ['Air China', 'Air India Limited', 'Air New Zealand', 'Air Pacific Limited dba Fiji Airways',
                      'Emirates', 'United Airlines', 'Virgin America', 'Volaris Airlines', 'Delta Air Lines',
                      'US Airways']
for airline in full_airlines:
    df.loc[df.pub_airlines==airline, 'price'] = 'Full Service'

In [42]:
lcc_airlines = ['XL Airways France', 'WOW Air', 'WestJet Airlines']
for airline in lcc_airlines:
    df.loc[df.pub_airlines==airline, 'price'] = 'Low Fare'

In [45]:
df['date'] = pd.to_datetime(df['date'], format='%Y%m')

In [46]:
df.head()

,date,pub_airlines,pub_code,geo_summ,geo_region,type,price,terminal,boarding_area,pax_count
0,2005-07-01,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271
1,2005-07-01,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131
2,2005-07-01,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415
3,2005-07-01,Air Canada,AC,International,Canada,Deplaned,Full Service,Terminal 1,B,35156
4,2005-07-01,Air Canada,AC,International,Canada,Enplaned,Full Service,Terminal 1,B,34090

In [47]:
df.tail()

,date,pub_airlines,pub_code,geo_summ,geo_region,type,price,terminal,boarding_area,pax_count
17954,2017-12-01,Virgin Atlantic,VS,International,Europe,Enplaned,Full Service,International,A,11512
17955,2017-12-01,Volaris Airlines,Y4,International,Mexico,Deplaned,Full Service,International,A,3221
17956,2017-12-01,Volaris Airlines,Y4,International,Mexico,Enplaned,Full Service,International,A,5415
17957,2017-12-01,WOW Air,WW,International,Europe,Enplaned,Low Fare,International,A,3800
17958,2017-12-01,WOW Air,WW,International,Europe,Deplaned,Low Fare,International,G,3113